.App {
  text-align: center;
}

body{
  background-color: #555a63 ;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ed8728;
  color: white;
  padding: 3%;
  width: 100vw;

}

.Logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Logo img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: white;
}

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color:#ed8728;
  color: white;
  width: 100vw;
}

button{
  border-radius: 5px;
  background-color: #ed8728;
  border: 0px;
  color: white;
  padding: 10px;
}

button :hover{
  background-color: #ad6521;
}

.CardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  order: 4;
  justify-content: space-evenly;
  margin: 10%;
  padding: 2%;
  padding-top: 5%;
  color: white;
  background-color: e4 ;
}

.CardContainer img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.Form {
  display: flex;
  flex-direction: column;
  padding:2%;
  border-radius: 5px;
}

.SideBar {
  height: 100vh;
  width: 185px;
  top:0;
  position: fixed;
  padding-top: 0;
  padding-left: 5px;
  left: 0;
  background-color:slategrey;
  opacity: 0.85;
  overflow-y: scroll;
  color: white;
  margin-top: 134px;
}

::-webkit-scrollbar {
  width:5px;
}

::-webkit-scrollbar-thumb{
  background:slategrey;

}

.WorkoutList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: orange;
  margin: 50px;
  padding: 3%;
  border-radius: 5px;
  color: darkslategray;
}

.WorkoutList:hover{
  background-color: cornflowerblue;
  box-shadow: 3px 3px 3px 3px rgba(37, 34, 34, 0.541);
}

