.App {
  text-align: center;
}

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: slategrey;
  color: white
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: slategrey;
  color: white;
  padding: 3%;
}

.CardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  order: 4;
  justify-content: space-evenly;
  margin: 10%;
}

.CardContainer img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
