.App {
  text-align: center;
}

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: slategrey;
  color: white
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: slategrey;
  color: white;
  padding: 3%;
}
